.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .addButton {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
} */