.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.exitButton {
  align-items: flex-start;
  color: red;
  margin-left: 17rem;
  margin-bottom: 1rem;
}